<div class="col-10 offset-1">
  <h1>About Cookit</h1>

    <p>Built by<a target="_blank" href="http://github.com/tcloetingh">Tyler Cloetingh</a>
      <br />
      Who is currently building a new skillsket one click at a time.
    </p>


</div>